@model List<SAT.Models.Produto>

<h3>Pesquisa de Produtos</h3>

<form class="row mb-3">
    <input name="busca" class="form-control col" placeholder="Código ou descrição" />
    <button class="btn btn-primary col-2">Buscar</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Arquivo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Codigo</td>
                <td>@p.Descricao</td>
                <td>
                    <a target="_blank" href="@Url.Content(p.CaminhoArquivo)" class="btn btn-sm btn-secondary">
                        Abrir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
