html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Spinner central de carregamento */
#loadingSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2000;
}

/* Tabela responsiva no mobile */
.table-responsive {
    overflow-x: auto;
}
<style >
/* Aperfeiçoamento para mobile */
.tabela-mobile td,
.tabela-mobile th {
    white-space: nowrap;
    padding: 6px !important;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.4rem !important;
    }

    .form-label {
        margin-bottom: 2px;
    }

    .table-responsive {
        border-radius: 6px;
    }

    .tabela-mobile td {
        font-size: 0.78rem !important;
    }

    .tabela-mobile th {
        font-size: 0.75rem !important;
    }
}

</style >

